<div class="page-header">
  <h2>Recipe Page</h2>
</div>
<div class="row">
  <div class="col-md-4 mb-3">Title</div>
  <div class="col-md-6 mb-3"><%= @recipe.title %></div>
</div>
<div class="row">
  <div class="col-md-4 mb-3">Image</div>
  <div class="col-md-6 mb-3"><%= image_tag @recipe.photo_url, width: 150, height: 150  %></div>
</div>
<div class="row">
  <div class="col-md-4 mb-3">List Of Tags</div>
  <div class="col-md-6 mb-3"><%= @recipe.tags %></div>
</div>
<div class="row">
  <div class="col-md-4 mb-3">Description</div>
  <div class="col-md-6 mb-3"><%= @recipe.description %></div>
</div>
<div class="row">
  <div class="col-md-4 mb-3">Chef Name</div>
  <div class="col-md-6 mb-3"><%= @recipe.chef_name %></div>
</div>